@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Http
@using System.Security.Claims;
@using BlazorProjekt.Service.Interfaces
@using BlazorProjekt.Service.DataTransferObjects
@inject IHttpContextAccessor httpContextAccessor
@inject IOwnerService ownerService
@inject IAccountService accountService
@inject IAccountTypeService accountTypeService
<h1>Velkommen til banken</h1>

<h3>My accounts</h3>
@if (owner?.Accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Account type</th>
                <th>Balance</th>
                <th>Amount</th>
                <th>Withdraw</th>
                <th>Deposit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in owner.Accounts)
            {
                <tr>
                    <th>@account.Owner.Name</th>
                    <th>@account.AccountType.Name</th>
                    <th>@account.Balance</th>
                    <th><input type="number" @bind="@Amount" /></th>
                    <th><button class="btn btn-primary" @onclick="@(o => Withdraw(account.AccountId))">Click me</button></th>
                    <th><button class="btn btn-primary" @onclick="@(o => Deposit(account.AccountId))">Click me</button></th>

                </tr>
            }
            <tr>
                <th>@owner.Name</th>
                <th>
                    <select @bind="_selectedAccountType">
                        @foreach (var accountType in accountTypes)
                        {
                            <option value="@accountType.AccountTypeId">@accountType.Name</option>
                        }
                    </select>
                </th>
                <th>0</th>
                <th><button class="btn btn-primary" @onclick="@CreateNewAccount">Create new account</button></th>
                <th></th>
                <th></th>

            </tr>
        </tbody>
    </table>
}

@code
{
    private OwnerDTO owner;
    public decimal Amount { get; set; }
    private int _selectedAccountType;
    private List<AccountTypeDTO> accountTypes;
    public AccountDTO Account { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await InitializeOwner();
        accountTypes = await accountTypeService.GetAll();
    }

    public async Task Withdraw(int accountId)
    {
        await accountService.Withdraw(accountId, Amount);
        await InitializeOwner();
    }

    public async Task Deposit(int accountId)
    {
        await accountService.Deposit(accountId, Amount);
        await InitializeOwner();
    }

    public async Task CreateNewAccount()
    {
        AccountDTO account = new AccountDTO()
        {
            FKAccountTypeId = _selectedAccountType,
            Balance = 0,
            FKOwnerId = owner.OwnerId
        };
        await accountService.Create(account);
        await InitializeOwner();
    }

    public async Task InitializeOwner()
    {
        if (int.TryParse(httpContextAccessor.HttpContext.User.Claims.Single(o => o.Type == ClaimTypes.PrimarySid).Value, out int ownerId))
        {
            owner = await ownerService.GetOwnerById(ownerId);
        }
    }
}





